
body {
  background: #000000;
  }

  .photointer_ {
  border: 3px solid #000;
  margin: 3em;
  padding: 3em;
  margin-bottom: 2em;
  flex-basis: 320px;
  flex-grow: 1;
  background-color: black;
}

.interphoto  {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Timberline";
  font-size: 1.5em;
  color: white;
}



.photoo {
  width: 50px;
	height: 50px;
}

.project {
  font-size: 40px;
}


figure {
max-width: 640px ;
}

img { width: 100%;}
