body {
  font-family: Helvetica;
  color: white;
}

h1 { font-size: 3em;
  margin-bottom: 1.25em;

}

#interphoto
h1{
margin-top: 100px;
text-align:center;
color:  #d9b3ff;
font-size:200px;
font-style: italic

}
